/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*          full app settings           */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
    padding: 0px;
    overflow-x:hidden;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Splash screen settings and animations*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#splashScreen {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    scroll-behavior: unset;
    z-index: 2000;
    background-image:radial-gradient(rgb(255, 187, 0), rgb(239, 141, 33));
    display: flex;
    margin:0px;
} 
#splashLogo {
    margin:auto;
    width: 150px;
    height: 150px;
    animation: pulse 3s ease infinite;
}

@keyframes pulse {
0% {
    transform: scale(1);
}
25% {
    transform: scale(1.1);
}
100% {
    transform: scale(1);
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*          Page Header                 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#pageHeader {
    margin: 0px;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

#logo {
    width: 48px;
    height: 48px;
    margin-right: 0.5rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*          Search Area                 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#searchButton {
    font-size: 16px;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*          Login buttons               */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#userLoginSection {
    width: 15rem;
    padding: 0rem 0.5rem 0rem 0rem;
}


#user-greeting {
    margin-top: 10px;
    margin-right: 0.5rem;
}

#login-button, #new-acct-button, #logout-button {
    font-size: 16px;
    margin-right: 0.5rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*          List settings               */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.nav {
    position: fixed;
    z-index: 1000;
    right: 0.5rem;
    top: 4rem;
}

.nav-link {
    font-size:24px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*           Tab Content                */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.jumbotron {
    /* position: fixed;
    z-index: -100;
    top: 0px; */
    width: 100vw;
    height: 60vh;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*          Map settings                */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
    width: 100%;
}
 
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                Cards                 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#search-section {
    padding: 5px;
}

.container-fluid {
    padding: 0.5rem;
    z-index: 1;
}

.no-pad {
    padding: 0px;
    margin: 0px;
}

.hover-card .top {
    transition: 0.2s ease-out;
    bottom: 0;
    /* background: rgba(66, 66, 66, 0.56); */
    padding: 0.25em;
    position: absolute;
    left: 0;
    text-align: left;
    width: 100%;
    margin: 0px;
    height: auto;
    font-size:1rem;
    /* Animated parameters */
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
    overflow: hidden;
    max-height: 0px;
    
}

.card:hover .top{
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    max-height: 100%;
}

.top-right {
    top: 0;
    position: absolute;
    right: 0;
    margin: 0.25em;
    display: flex;
    flex-direction: column;
}

.button-topright {
    transition: 0.2s ease-out;
    background: rgba(66, 66, 66, 0.2);
    padding: 0.25em;
    text-align: center;
    margin: 0px;
    border-radius: 10%;
    display: flex;
    /* Animated parameters */
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-size:1vw;
}

.button-topright:hover {
    border: 2px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.card {
    break-inside: avoid;
    margin-bottom: 0.5rem;
}

.card-columns {
    margin-bottom: 0.5rem;
    column-gap: 0.5rem;
}

@media (max-width: 321px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 321px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 575px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 960px) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}
